.icon{

    width: 20px;

}
#footer{

    margin-top: 100%;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 50px;
    padding: 0 0 20px 0;
    color: white;
    position: absolute;
    left: 0;
    text-align: center;
    text-shadow: 0 0 5px whitesmoke;

}
.fb{

    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    box-shadow: 3px 3px 2px black;
    border-radius: 10px;

}
.youtube{

    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    margin-left: 30px;
    box-shadow: 3px 3px 2px black;
    border-radius: 15px;

}
.tech{

    font-size: 20px;
    text-decoration-line: none;
    color: black;
    font-family: cursive, sans-serif;
    display: inline;
}
.guide{

    font-size: 20px;
    text-decoration-line: none;
    color: white;
    font-family: cursive, sans-serif;
    margin-right: 1200px;

}
.hd{

    background-color: rgb(48, 48, 48); 
    height: 40px;

}
#sd1{

    clear: both;
    position: relative;
    width: 400px;
    background-color: rgb(48, 48, 48);
    margin-left: 20px;
    height: 220px;
}
#sd2{

    clear: both;
    position: relative;
    width: 400px;
    background-color: rgb(48, 48, 48);
    margin-left: 35%;
    height: 220px;
}
#sd3{

    clear: both;
    position: relative;
    width: 400px;
    background-color: rgb(48, 48, 48);
    margin-left: 68%;
    height: 220px;
}
p{

    color: white;
    font-family: cursive, sans-serif;
    text-shadow: 0 0 5px white;

}
a {

    text-decoration: none;
    font-family: cursive, sans-serif;

}
.namelist {

    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 100px;
    margin-top: 50px;

}
li {

    color: white;
    text-decoration: none;
    font-family: cursive, sans-serif;
    display: flex;
    display: inline;

}
.socialicons {

    width: 30px;
    height: 30px;
    display: inline;
    float: right;
    margin-top: 52px;

}
header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    text-shadow: 0 0 5px white;

}
section {

    margin-top: 50px;

}
.profiles {

    width: 200px;
    height: 200px;
    margin-bottom: 10px;

}
.profile {

    display: flex;
    flex-wrap: wrap;
    width: 500px;

}
.flex {

    display: flex;
    justify-content: space-around;

}
.burger {

    display: flex;
    justify-content: right;
    width: 40px;

}
body {

    overflow-x: hidden;

}
.anim {

    text-decoration: none;
    font-size: 25px;
    width: 108px;
    display: flex;
    position: relative;
    border-radius: 7px;
    border-color: black;
    background-color: rgb(48, 48, 48);
    animation: app 10s infinite;
    padding-left: 10px;
    text-shadow: 0 0 5px white;
    box-shadow: 5px 5px 5px black;

}
@keyframes app {

    0%{left: 105%;}
    100%{left: -10%;}

}
@media (max-width: 2000px) {

    .burger {

        display: none;

    }
    .texts {

        display: block;

    }
    #footer {

        width: 100%;

    }

}
@media(max-width: 761px) {
    
    body {

        overflow: hidden;
    
    }
    header{

        width: 25%;

    }
    #footer {

        width: 77%;

    }
    .texts {

        display: none;

    }
    .burger {

        display: block;
        float: right;

    }

}